#extension_markBar {
  all: initial;
  position: fixed;
  right: 0px;
  top: 0px;
  box-sizing: border-box;
  width: 200px;
  padding-left: 10px;
  overflow: hidden;
  z-index: 2147483647;
  pointer-events: none;
  user-select: none;
}

#extension_addBtn {
  all: initial;
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  cursor: pointer;
  bottom: 0;
  right: 0;
  background-color: #f4f5f74d;
  border: solid 3px #82784e;
  border-radius: 10px;
}

.extension_mark {
  all: initial;
  display: block;
  position: absolute;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  width: 200px;
  padding: 3px;
  right: 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: #f4f5f74d;
  color: #4e7682;
  border: solid 3px #4e7682;
  border-radius: 10px;
}

.extension_mark::after {
  content: "→";
  position: absolute;
  right: 10px;
  color: #4e7682;
}

#extension_markBar * {
  transition: opacity 0.3s, visibility 0.3s;
}
